html {
    font: normal normal normal 1em/1.5 "lft-etica", "Helvetica Neue", Arial, sans-serif;
    color: #797166;
    margin: 0;
    padding: 0;
    /* background: #f5f3f0; */
    /* background: yellow; */
    height: 100%;
}

p {
    color: #797166;
}

body {
    /* background: #f5f3f0; */
    background: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "lft-etica", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 1.7em;
    margin: 0 0 0.5em;
    color: #5c626a;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 1.395624em;
    font-weight: normal;
    color: #5c626a;
}

h4 {
    /* padding: 0.5em 0 0;
    margin: 1.5em 0 -0.5em; */
    font-size: 1em;
    font-weight: bolder;
    display: block;
    /* margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font: normal normal normal 1em/1.5 "lft-etica", "Helvetica Neue", Arial, sans-serif;
    color: #797166;
}

ul {
    list-style: square;
    padding: 0 0 0 1.25em;
    font: normal normal normal 1em/1.5 "lft-etica", "Helvetica Neue", Arial, sans-serif;
    color: #797166;
}

header {
    background: url(assets/images-2.jpg);
    /* background: #767685; */
    height: 150px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    /* display: table-row; */
    /* height: 1px; */
    font-size: 0.9125em;
    width: 100%;
    display:flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    /* align-content: flex-start; */
    /* align-items: center; */

}

.cta-container {
    height: 30px;
    /* background: #a9535e; */
    background: #7f484e;
    /* margin: 0 auto; */
    /* width: 100%; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center; */
}

.cta {
    width: 80%;
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.sign-up-banner {
    color: #fff;
    padding-top: 3px;
    margin: 0 auto;
    /* background: yellow; */
    display: inline;
    margin: 0 auto;
}

.nav-button-pink p {
    margin: 0 auto;
    color: #fff;
}

.date {
    font-weight: 900;
}

.page_container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    max-width: 880px;
    /* background: #f5f3f0; */
}

.email-collect {
    border: 2px solid rgb(135 177 185);
    background: #fff;
    padding: 1.5em 1.5em;
    margin: .5em ;
    margin-bottom: 1.5em;
    overflow: hidden;
}

.email-collect p {
    font-size: 1.125em;
    width: auto;
    margin: 0;
    display: block;
    /* padding: .25em; */
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: normal normal normal 1em/1.5 "lft-etica", "Helvetica Neue", Arial, sans-serif;
    color: #797166;
}

a {
    color: #c56c76;
    transition: color 0.32s ease;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, #c56c76 50%); */
    background-repeat: repeat-x;
    background-size: 240px 2px;
    text-decoration: none;
}

a:hover {
    color: #c56c76;
    opacity: 0.8;
    text-decoration: none;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    /* float: right; */
    /* width: 160px; */
    /* margin-left: 24px; */
    border-radius: 0.25em;
    background: #c56c76;
    transition: #c56c76 0.32s ease;
    text-shadow: none;
    color: #f5f3f0;
    display: block;
    padding: 0.6em 1em;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    border: 1px solid #c56c76;
    cursor: pointer;
}

button:focus {outline:0;}

button:hover {
    background: #7f484e;
    border: 1px solid #7f484e;
}

.branding-bar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 880px;
}

.large-logo {
    max-width: 425px;
    margin-top: 2.5em;
}

.large-logo img {
    width: 100%;
    height: auto;
}

.branding-bar p {
    /* margin: 0.4em 0 0; */
    /* float: right; */
    color: #efe9e0;
    font-size: 1.25em;
    /* text-align: right; */
    /* display: block; */
    margin-top: 2.25em;
    /* margin-block-start: 2.5em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: normal normal normal 1.25em/1.5 "lft-etica", "Helvetica Neue", Arial, sans-serif;
}

.speaker-bio {
    display: flex;
    flex-direction: column;
}

.speaker-bio p {
    text-align: justify;
}

.headshot {
    display: flex;
    flex-direction: row;
    /* background: yellow; */
    /* justify-content: flex-start;
    align-items: flex-start; */
    margin-bottom: 0.5em;
    width: 100%;
}

.image-div {
    width: 30%;
    /* background: purple; */
}

.speaker {
    /* background: yellow; */
    width: 70%;
}

.image-div>img {
    border-radius: 0.25em;
    margin-top: 0;
    width: 100%;
    height: auto;
    /* display: block; */
}

.headshot a {
    text-decoration: underline;
}

.speaker {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    margin-left: 1em;
}

.row {
    margin-bottom: 1em;
}

footer {
    /* padding-top: 16px;
    padding-bottom: 24px; */
    height: 6em;
    background: #51525a;
    color: #ccccd1;
    font-size: 0.875em;
    /* display: table-row; */
    width: 100%;
}

.footer-div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    max-width: 880px;
    /* background: greenyellow; */
    /* margin-top: 100px; */
    /* margin-bottom: 4em; */
}

.logo {
    width: 120px;
    /* background: yellow; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: flex-end; */
    /* margin-bottom: 1em; */
    margin-right: 1.5em;
}

.footer-div img {
    width: 100%;
    height: auto;
    /* margin-top: 1.5em; */
    /* margin-bottom: 1em;
    margin-right: 1.5em; */
}

.footer-div p {
    /* margin-top: 2em;
    margin-left: 2em; */
    /* font-size: 0.875em; */
    /* margin-bottom: 1em; */
    line-height: 1.5;
 
}

.footer-text {
    display: flex;
    flex-direction: column;
    /* margin-top: 2em; */
    /* margin-left: 1.5em; */
    /* margin-bottom: 1em; */
    /* background: purple; */
    justify-content: flex-end;
    margin-bottom: -20px;
}

.questions {
    /* margin-top: 2em; */
    font-size: 1em;
    color: #ccccd1;
    margin-bottom: 0;
    /* line-height: 1.25; */
    /* margin: 0 0 0.25em; */
}

.minor {
    font-style: italic;
    font-size: 0.78571428571429em;
    color: #99999e;
    /* margin-bottom: 1em; */
    /* margin-top: 10px; */
}

@media only screen and (max-width: 880px) {
    .sign-up-banner {
        text-align: center;
    }
    .branding-bar {
        display: flex;
        flex-direction: column;
    }
    .branding-bar p {
        padding-top: 0.6em;
        font-size: 1em;
        margin-top: 0;
    }
}

@media only screen and (max-width: 640px) {
    .cta-container {
        height: 70px;
    }
    .email-collect {
      text-align: center;
    }
    .footer-div img {
        width: 100%;
        height: auto;
        /* margin-left: 2em; */
      }
      .logo {
          margin-bottom: 10px;
      }
      .footer-div {
          flex-direction: column;
          margin-top: 0;
          margin-left: 2em;
      }
      footer {
          height: 150px;
      }

  }

  @media only screen and (max-width: 440px) {
      footer {
          height: 175px;
      }
  }

